@import "../../styles/colors";
@import "../../styles/mixins";
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap");

.container {
  font-family: lato, "sans-serif";

  .wrapper {
    @media screen and (max-width: 480px) {
      margin-left: 15%;
    }

    h1 {
      font-size: 60px;
      margin: 10px 0;
      color: darken($textColor, 2%);

      @media screen and (max-width: 480px) {
        font-size: 40px;
      }
    }
    h2 {
      color: darken($textColor, 2%);
      font-size: 35px;

      @media screen and (max-width: 480px) {
        font-size: 25px;
      }
    }
    h3 {
      font-size: 30px;
      opacity: 0.9;

      color: $textColor;

      @media screen and (max-width: 480px) {
        font-size: 20px;
      }
    }

    p {
      font-size: 20px;
      margin: 10px 0;
      color: $textColor;
      opacity: 0.8;
      padding-top: 0.5rem;

      span {
        display: block;
      }

      @media screen and (max-width: 480px) {
        span {
          font-size: 15px;
          margin-top: 10px;
        }
      }
    }
    .buttonContainer {
      flex-direction: row;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      margin-top: 80px;

      @media screen and (max-width: 480px) {
        margin-top: 60px;
      }

      .work {
        text-decoration: none;
        color: $headerTextColor;
        font-weight: bold;
        background-color: $buttonBackGroundColor;
        padding: 13px 26px;
        padding-top: 6px;
        border-radius: 20px;
        font-size: x-large;
        border: none;
        display: flex;
        align-items: center;

        @media screen and (max-width: 480px) {
          font-size: 16px;
          padding: 13px;
        }

        &:hover {
          background-color: darken($buttonBackGroundColor, 10%);
          cursor: pointer;
          transform: scale(1.05);
          img {
            cursor: pointer;
            transition: 0.5s ease;
            transform: rotate(0deg);
          }
        }

        img {
          // animation: arrowBlink 3s infinite;

          transform: rotate(90deg);
          margin-left: 10px;
          position: relative;
          width: 30px;
          height: 30px;
          @keyframes arrowBlink {
            100% {
              //after 2.5s arrows opacity reaches 0 which creates blinking effect
              opacity: 0;
            }
          }
        }
      }
    }
  }
}

.card {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  animation: circleAnimation 4s ease infinite;
  animation-fill-mode: backwards;
  background: $heroCardColor;
  animation: cardAnimation 3s ease;
  transition: 3s ease-in-out all;

  @keyframes cardAnimation {
    0% {
      transform: translateX(300px);
      transform: translateY(300px);
    }
    100% {
      transform: translateX(0);
      transform: translateY(0);
    }
  }
}
