@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  z-index: 1;
  background-color: rgb(28, 29, 30);
  overflow: auto;
  overflow: hidden;
  padding-top: 50px;

  @media screen and (max-width: 1025px) {
    height: 120vh;
  }
  @media screen and (max-width: 820px) {
    height: 100vh;
  }

  @media screen and (max-width: 768px) {
    height: 100vh;
  }

  @media screen and (max-width: 540px) {
    height: 130vh;
  }

  @media screen and (max-width: 480px) {
    height: 115vh;
  }

  @media screen and (max-width: 415px) {
    height: 160vh;
  }

  @media screen and (max-width: 394px) {
    height: 160vh;
  }

  @media screen and (max-width: 376px) {
    height: 200vh;
  }

  @media screen and (max-width: 360px) {
    height: 180vh;
  }

  @media screen and (max-width: 281px) {
    height: 205vh;
  }

  .header {
    max-width: 120px;
    font-size: xx-large;
    color: $mainColor;
    font-weight: bold;
    border-bottom: $mainColor 5px solid;
    margin: 40px auto;
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;
    margin: 0 auto;

    &:last-child {
      padding-bottom: 60px;
    }

    @media screen and (max-width: 768px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 480px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.skillsGridAnimated {
  animation: skillsGridAnimation 1.5s ease-in-out alternate;
  transition: 0.5s ease-in-out all;

  @keyframes skillsGridAnimation {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    animation: none;
  }
}
