@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  height: 100vh;
  position: relative;
  @include flexCenter(column);
  text-align: center;
  z-index: 1;
  background-color: rgb(28, 29, 30);
  overflow: scroll;
  padding-top: 30px;
  scroll-snap-type: none;
  scroll-snap-align: start;

  &::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-width: 1025px) {
    padding-top: 250px;
  }

  @media screen and (max-width: 415px) {
    height: 130vh;
  }

  .header {
    max-width: 120px;
    font-size: xx-large;
    color: $mainColor;
    font-weight: bold;
    border-bottom: $mainColor 5px solid;
    margin: 10px auto;
  }

  .skillsGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 100px;
    margin: 0 auto;
    padding-top: 40px;

    &:last-child {
      padding-bottom: 60px;
    }

    @media screen and (max-width: 1230px) {
      grid-template-columns: repeat(5, 1fr);
    }

    @media screen and (max-width: 1025px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media screen and (max-width: 775px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (max-width: 563px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 80px;
    }

    @media screen and (max-width: 281px) {
      gap: 50px;
    }
  }
}

.skillsGridAnimated {
  animation: skillsGridAnimation 1.5s ease-in-out alternate;
  transition: 0.5s ease-in-out all;

  @keyframes skillsGridAnimation {
    0% {
      opacity: 0;
      transform: translateX(300px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  @media screen and (max-width: 768px) {
    animation: none;
  }
}
