@import "../../styles/colors";
@import "../../styles/mixins";

.pageContainer {
  position: relative;
  min-height: 100vh;
  width: 100%;
  @include flexCenter(column);
  overflow: scroll;
  background-color: rgb(25, 25, 26);
  padding-top: 80px;
  padding-bottom: 120px;
  z-index: 0;

  &::-webkit-scrollbar {
    display: none;
  }

  .formContainer {
    width: 100%;
    max-width: 620px;
    max-height: 700px;
    background-color: $mainColor;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    @media screen and (max-width: 768px) {
      max-width: 340px;
    }
    @media screen and (max-width: 375px) {
      max-height: 550px;
      overflow: scroll;
    }

    @media screen and (max-width: 280px) {
      max-width: 250px;
      justify-content: center;

      .formHeader {
        p {
          display: none;
        }
      }
    }

    .formHeader {
      width: 100%;
      height: 100%;
      max-height: 50px;
      font-size: 20px;
      font-weight: bold;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-end;
      padding: 40px;
      background-image: linear-gradient(
        to right,
        rgb(0, 114, 66) 0%,
        rgb(4, 114, 91) 100%
      );
      color: $mainColor;
      .icon {
        margin-right: 10px;
      }
      p {
        margin: 0;
        margin-top: -20px;
        font-size: 15px;
        font-weight: 300;
      }
    }

    .contactFormContainer {
      background: $mainColor;
      position: relative;

      .circle {
        border-radius: 50%;
        background: linear-gradient(135deg, transparent, rgb(33, 134, 90));
        position: absolute;
      }
      .circle1 {
        width: 130px;
        height: 130px;
        top: 130px;
        right: -40px;
      }
      .circle2 {
        width: 80px;
        height: 80px;
        top: 10px;
        right: 30px;
      }

      .form {
        padding: 2.3rem 2.2rem;
        z-index: 10;
        overflow: hidden;
        position: relative;

        .submitBtn {
          margin: 20px auto;
          background: rgb(37, 33, 152);
          color: rgb(249, 249, 249);
          border: none;
          padding: 0.6rem;
          font-weight: bold;
          font-size: 20px;
          width: 100%;

          &:hover {
            background-color: darken(rgb(37, 33, 152), 10%);
            cursor: pointer;
          }
          &:disabled {
            opacity: 0.2;
            cursor: not-allowed;
          }
        }
        .inputContainer {
          position: relative;
          margin: 1rem 0;

          label {
            display: flex;
            position: relative;
            font-size: 0.8rem;
            color: $formMainColor;
            font-size: 0.9rem;
            font-weight: bold;
            margin-bottom: 0.5rem;
          }
          input {
            width: 100%;
            border: none;
            border-bottom: 2px solid $formMainColor;
            padding: 0.6rem;
            background: none;
            font-weight: 500;
            font-size: 0.95rem;
            letter-spacing: 0.5px;
            color: $formMainColor;
            transition: 0.3s;

            &:focus {
              outline: none;
            }
            &::placeholder {
              color: $formMainColor;
              opacity: 0.6;
            }
          }
          textarea {
            width: 100%;
            padding: 1.5rem 0.6rem;
            background: none;
            outline: none;
            border: none;
            border-bottom: 2px solid $formMainColor;
            font-weight: 500;
            font-size: 0.95rem;
            letter-spacing: 0.5px;
            color: $formMainColor;

            &::placeholder {
              color: $formMainColor;
              opacity: 0.6;
            }
          }
        }
      }
    }
  }
}

.success {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgb(41, 189, 93);
  margin: 0 auto;
  padding: 0.6rem;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: rgb(244, 235, 235);

  @media screen and (max-width: 800px) {
    font-size: 17px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #cd2b25;
  margin: 0 auto;
  padding: 0.6rem;
  flex-wrap: wrap;
  height: 70px;
  width: 100%;
  font-size: 15px;
  font-weight: bold;
  color: rgb(244, 235, 235);

  @media screen and (max-width: 800px) {
    font-size: 17px;
  }
}

.errorMsg {
  color: rgb(179, 32, 27);
  font-weight: bold;
  font-size: 15px;
  padding: none;
  margin: auto;
}
