@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  display: flex;
  flex-direction: column;
  background-color: rgb(31, 31, 32);
  height: 100%;
  width: 100%;
  overflow: auto;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  justify-content: center;

  @media screen and (max-width: 1025px) {
    min-height: 190vh;
  }

  @media screen and (max-width: 821px) {
    min-height: 138vh;
  }
  @media screen and (max-width: 768px) {
    min-height: 158vh;
  }
  @media screen and (max-width: 541px) {
    min-height: 230vh;
  }
  @media screen and (max-width: 415px) {
    min-height: 200vh;
  }
  @media screen and (max-width: 394px) {
    min-height: 210vh;
  }

  @media screen and (max-width: 376px) {
    min-height: 240vh;
  }

  @media screen and (max-width: 361px) {
    min-height: 250vh;
  }
  @media screen and (max-width: 281px) {
    min-height: 315vh;
  }
  .header {
    position: relative;
    max-width: 150px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
    padding-bottom: 2px;
    color: $mainColor;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: $mainColor 5px solid;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
    @media screen and (max-width: 870px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.cardContainerAnimated {
  animation: portfolioEntryAnimation 1.5s ease-in-out alternate;
  transition: all 0.5s ease-in-out;

  @keyframes portfolioEntryAnimation {
    0% {
      transform: translateY(300px);
    }

    100% {
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 830px) {
    animation: none;
  }
}
