@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  background: $mainCardColor;
  .header {
    position: relative;
    max-width: 150px;
    margin: auto;
    margin-bottom: 60px;
    margin-top: 80px;
    padding-bottom: 2px;
    color: $mainColor;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: $mainColor 5px solid;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
    @media screen and (max-width: 870px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.cardContainerAnimated {
  animation: portfolioEntryAnimation 1.5s ease-in-out alternate;
  transition: all 0.5s ease-in-out;

  @keyframes portfolioEntryAnimation {
    0% {
      opacity: 0.5;
      transform: translateY(300px);
    }

    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }

  @media screen and (max-width: 830px) {
    animation: none;
  }
}
