@import "../../styles/colors";
@import "../../styles/mixins";

.container {
  position: relative;
  background-color: rgb(31, 31, 32);
  height: 100%;
  width: 100%;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .header {
    position: relative;
    max-width: 150px;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 50px;
    padding-bottom: 2px;
    color: $mainColor;
    font-weight: bold;
    font-size: xx-large;
    border-bottom: $mainColor 5px solid;
  }

  .projectGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;

    @media screen and (min-width: 830px) {
      transform: translateY(300px);
    }

    @media screen and (max-width: 1220px) {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }
    @media screen and (max-width: 870px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

.cardContainerAnimated {
  animation: portfolioEntryAnimation 1.5s ease-in-out alternate;
  transition: all 1.5s ease-in-out;
  animation-fill-mode: forwards;

  @keyframes portfolioEntryAnimation {
    0% {
      display: none;
      transform: translateY(300px);
    }

    100% {
      display: grid;
      transform: translateY(0);
      padding: 0;
    }
  }

  @media screen and (max-width: 830px) {
    animation: none;
  }
}
