@import "./colors";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek,cyrillic");
html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto Mono", sans-serif;
  margin: auto;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  top: 0;
}
