@import "./colors";
html,
body {
  height: 100vh;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}
main {
  height: 100vh;
  background-color: $mainBackgroundColor;
  width: 100%;
}

body {
  width: 100%;
  overflow-x: hidden;
  background-color: $mainBackgroundColor;
}

body::-webkit-scrollbar {
  display: none;
}

header {
  top: 0;
}
