@import "../../styles/colors.scss";
@import "../../styles/mixins";

.menu {
  @include flexCenter(column);
  width: 300px;
  height: 100vh;
  background: $secondaryBackgroundColor;
  position: fixed;
  top: 0;
  right: -300px;
  z-index: 2; //setting to 2 ensures the menu will appear under topbar which has z-index of 3
  transition: all 1s ease;

  &.active {
    right: 0; //menu only appears when hamburger is clicked
  }
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 30px;
    font-weight: 300;
    color: white;
    width: 60%;
  }
}
